/* PC */
@media (min-width: 1200px) {
  /* Start responsive Footer */
  .footer-logo {
    margin-left: 10%;
  }
  /* End responsive Footer */

  /* Start responsive Navbar */
  .navbar-menu {
    margin-left: 31%;
  }

  .nav-bars-btn {
    display: none;
  }

  .navbar-nav-mobile {
    display: none;
  }
  /* End responsive Navbar */
}

/* Tablet */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .about-content-top {
    margin-bottom: 40px;
  }

  /* Start responsive Navbar */
  .navbar-logo {
    width: 220px;
  }

  .nav-mobile-input:checked ~ .nav-overlay {
    display: block;
  }

  .nav-mobile-input:checked ~ .navbar-nav-mobile {
    transform: translateX(0%);
    opacity: 1;
  }

  .navbar-menu {
    margin-left: auto;
  }

  .navbar-nav-pc {
    display: none;
  }

  .navbar-language-pc {
    display: none;
  }

  .nav-bars-btn {
    display: block;
    cursor: pointer;
  }

  .nav-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9999999;
    display: none;
  }

  .navbar-nav-mobile {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background: #fff;
    z-index: 99999999;
    padding: 0;
    margin: 0;
    opacity: 0;
    transform: translateX(102%);
    transition: transform linear 0.2s, opacity linear 0.2s;
    -webkit-transition: transform linear 0.2s, opacity linear 0.2s;
    -moz-transition: transform linear 0.2s, opacity linear 0.2s;
  }

  .navbar-nav-mobile .dropdown.nav-item {
    display: block;
  }

  .navbar-nav-mobile .nav-item {
    padding: 0 30px;
    list-style: none;
    line-height: 35px;
  }

  .navbar-nav-mobile .nav-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #333;
  }

  .navbar-nav-mobile .nav-link:hover {
    color: #6c994e;
  }

  .navbar-nav-mobile .nav-menu-sub {
    display: none;
  }

  .nav-item-sub.open .nav-menu-sub {
    display: block;
    padding: 0;
  }

  .nav-mobile-logo {
    padding-left: 5px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
  }

  .navbar-nav-mobile .logo {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    width: 70px;
  }

  .nav-mobile-close {
    display: block;
  }

  .nav-mobile-close img{
    width: 16px;
    position: absolute;
    top: 16px;
    right: 18px;
    cursor: pointer;
  }

  /* End responsive Navbar */

  /* Start responsive Product Service */
  .product-service .box-content {
    flex-wrap: wrap;
    justify-content: center;
  }

  .product-service .box-content .box-item:first-child {
    margin-right: 20px;
  }

  .product-service .box-content .box-item:nth-child(2) {
    margin-left: 20px;
  }

  .product-service .box-content .box-item:last-child {
    margin-top: 40px;
  }
  /* End responsive Product Service */

  /* Start responsive Infrastructure */
  .infrastructure-slider {
    top: -45px;
  }
  /* End responsive Infrastructure */

  .product-desc {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
     display: -webkit-box;
  }
}

/* Mobile */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .infrastructure-carousel-item {
    width: 242px;
  }

  .infrastructure {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .about-content-top {
    margin-bottom: 50px;
  }
  /* Start responsive Navbar */
  .nav-mobile-input:checked ~ .nav-overlay {
    display: block;
  }

  .nav-mobile-input:checked ~ .navbar-nav-mobile {
    transform: translateX(0%);
    opacity: 1;
  }

  .navbar-menu {
    margin-left: auto;
  }

  .navbar-nav-pc {
    display: none;
  }

  .navbar-language-pc {
    display: none;
  }

  .nav-bars-btn {
    display: block;
    cursor: pointer;
  }

  .nav-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9999999;
    display: none;
  }

  .navbar-nav-mobile {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background: #fff;
    z-index: 99999999;
    padding: 0;
    margin: 0;
    opacity: 0;
    transform: translateX(102%);
    transition: transform linear 0.2s, opacity linear 0.2s;
    -webkit-transition: transform linear 0.2s, opacity linear 0.2s;
    -moz-transition: transform linear 0.2s, opacity linear 0.2s;
  }

  .navbar-nav-mobile .dropdown.nav-item {
    display: block;
  }

  .navbar-nav-mobile .nav-item {
    padding: 0 30px;
    list-style: none;
    line-height: 35px;
  }

  .navbar-nav-mobile .nav-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #333;
  }

  .navbar-nav-mobile .nav-link:hover {
    color: #6c994e;
  }

  .navbar-nav-mobile .nav-menu-sub {
    display: none;
  }

  .nav-item-sub.open .nav-menu-sub {
    display: block;
    padding: 0;
  }

  .nav-mobile-logo {
    padding-left: 5px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
  }

  .navbar-nav-mobile .logo {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    width: 70px;
  }

  .nav-mobile-close {
    display: block;
  }

  .nav-mobile-close img{
    width: 16px;
    position: absolute;
    top: 16px;
    right: 18px;
    cursor: pointer;
  }

  /* End responsive Navbar */

  /* Start responsive Header */
  .navbar-logo {
    width: 200px;
  }
  /* End responsive Header */

  /* Start responsive Infrastructure */
  .infrastructure-slider {
    position: relative;
    top: unset;
    height: 310px;
  }

  .infrastructure-slider-wrapper .owl-carousel.owl-loaded {
    position: relative !important;
    height: 100%;
  }

  .infrastructure-slider.owl-carousel .owl-stage-outer {
    overflow: unset !important;
  }

  .infrastructure-content-left {
    margin-bottom: 30px;
  }

  .infrastructure.box .box-title {
    text-align: center;
  }

  .infrastructure.box .box-title .box-title-sub br {
    display: none;
  }

  .infrastructure.box .box-title .box-title-sub:after {
    width: 40%;
    left: 50%;
    -webkit-transform: translateX(-40%);
    -moz-transform: translateX(-40%);
    -ms-transform: translateX(-40%);
    -o-transform: translateX(-40%);
    transform: translateX(-40%);
  }

  /* End responsive Infrastructure */

  /* Start responsive Product Service */

  .product-service .box-content {
    display: block;
  }

  .product-service .box-content .box-item {
    margin-bottom: 20px;
  }

  /* End responsive Product Service */

  .brand-item {
    margin-bottom: 30px;
  }

  /* Start responsive Footer */

  .footer-logo {
    margin-left: unset;
  }

  .footer-left {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  /* End responsive Footer */

  .product-desc {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
     display: -webkit-box;
  }
}

/* Mobile */
@media (max-width: 767px) {
  .infrastructure-carousel-item {
    width: 242px;
  }

  .infrastructure {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .product-desc {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
     display: -webkit-box;
  }

  .navbar-logo {
    width: 150px;
  }

  /* Start responsive Navbar */
  .nav-mobile-input:checked ~ .nav-overlay {
    display: block;
  }

  .nav-mobile-input:checked ~ .navbar-nav-mobile {
    transform: translateX(0%);
    opacity: 1;
  }

  .navbar-menu {
    margin-left: auto;
  }

  .navbar-nav-pc {
    display: none;
  }

  .navbar-language-pc {
    display: none;
  }

  .nav-bars-btn {
    display: block;
    cursor: pointer;
  }

  .nav-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9999999;
    display: none;
  }

  .navbar-nav-mobile {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background: #fff;
    z-index: 99999999;
    padding: 0;
    margin: 0;
    opacity: 0;
    transform: translateX(102%);
    transition: transform linear 0.2s, opacity linear 0.2s;
    -webkit-transition: transform linear 0.2s, opacity linear 0.2s;
    -moz-transition: transform linear 0.2s, opacity linear 0.2s;
  }

  .navbar-nav-mobile .dropdown.nav-item {
    display: block;
  }

  .navbar-nav-mobile .nav-item {
    padding: 0 30px;
    list-style: none;
    line-height: 35px;
  }

  .navbar-nav-mobile .nav-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #333;
  }

  .navbar-nav-mobile .nav-link:hover {
    color: #6c994e;
  }

  .navbar-nav-mobile .nav-menu-sub {
    display: none;
  }

  .nav-item-sub.open .nav-menu-sub {
    display: block;
    padding: 0;
  }

  .nav-mobile-logo {
    padding-left: 5px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
  }

  .navbar-nav-mobile .logo {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    width: 70px;
  }

  .nav-mobile-close {
    display: block;
  }

  .nav-mobile-close img{
    width: 16px;
    position: absolute;
    top: 16px;
    right: 18px;
    cursor: pointer;
  }

  /* End responsive Navbar */

  /* Start responsive Infrastructure */
  .infrastructure-slider {
    position: relative;
    top: unset;
  }

  .infrastructure-slider-wrapper .owl-carousel.owl-loaded {
    position: relative !important;
  }

  .infrastructure-carousel-item:nth-of-type(2) {
    display: none;
  }

  .infrastructure-content-left {
    margin-bottom: 30px;
  }

  .infrastructure.box .box-title {
    text-align: center;
  }

  /* End responsive Infrastructure */

  /* Start responsive Product Service */
  .product-service .box-content {
    display: block;
  }

  .product-service .box-content .box-item {
    margin-bottom: 20px;
  }

  /* End responsive Product Service */

  .about-us-home .about-us-description {
    margin-bottom: 20px;
  }

  .brand-item {
    margin-bottom: 30px;
  }

  /* Start responsive Footer */

  .footer-right-first > div {
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer-right-first .certification {
    margin: 20px 0;
  }

  .footer-right-first .input-subscribe-news {
    width: 100%;
  }
  /* End responsive Footer */


  /* start responsive About Us Page
  =========================================== */

  .news-about-list .news-about-item {
    height: auto;
  }
   /* End responsive About Us Page
  =========================================== */

  .layout-background-right  {
    background: #fff;
  }

  .recruitment-detail-right {
    background: #f3f0ed;
    padding-bottom: 70px;
    padding-top: 50px;
  }

  .about-content-top {
    flex-direction: column;
  }

  .about-content-top-left {
    width: 100%;
  }

  .about-content-top-right {
    width: 80%;
    margin: 0;
    margin-top: -100px;
  }

  .about-content-top-right p {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 12;
    -webkit-box-orient: vertical;
     display: -webkit-box;
  }

  .about-content-bottom {
    flex-direction: column-reverse;
    margin-top: 70px;
  }

  .about-content-bottom-right {
    width: 100%;
  }

  .about-content-bottom-left {
    width: 80%;
    margin: 0;
    margin-top: -100px;
  }

  .about-content-bottom-left p {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 12;
    -webkit-box-orient: vertical;
     display: -webkit-box;
  }

}

@media (max-width: 559px) {
  .product-title-sub {
    margin-top: 20px;
  }

  .product-page .media-left {
    display: flex;
    justify-content: center;
  }

  .navbar-logo {
    width: 100px;
  }

  /* Start responsive Navbar */
  .nav-mobile-input:checked ~ .nav-overlay {
    display: block;
  }

  .nav-mobile-input:checked ~ .navbar-nav-mobile {
    transform: translateX(0%);
    opacity: 1;
  }

  .navbar-menu {
    margin-left: auto;
  }

  .navbar-nav-pc {
    display: none;
  }

  .navbar-language-pc {
    display: none;
  }

  .nav-bars-btn {
    display: block;
    cursor: pointer;
  }

  .nav-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9999999;
    display: none;
  }

  .navbar-nav-mobile {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background: #fff;
    z-index: 99999999;
    padding: 0;
    margin: 0;
    opacity: 0;
    transform: translateX(102%);
    transition: transform linear 0.2s, opacity linear 0.2s;
    -webkit-transition: transform linear 0.2s, opacity linear 0.2s;
    -moz-transition: transform linear 0.2s, opacity linear 0.2s;
  }

  .navbar-nav-mobile .dropdown.nav-item {
    display: block;
  }

  .navbar-nav-mobile .nav-item {
    padding: 0 30px;
    list-style: none;
    line-height: 35px;
  }

  .navbar-nav-mobile .nav-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #333;
  }

  .navbar-nav-mobile .nav-link:hover {
    color: #6c994e;
  }

  .navbar-nav-mobile .nav-menu-sub {
    display: none;
  }

  .nav-item-sub.open .nav-menu-sub {
    display: block;
    padding: 0;
  }

  .nav-mobile-logo {
    padding-left: 5px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
  }

  .navbar-nav-mobile .logo {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    width: 70px;
  }

  .nav-mobile-close {
    display: block;
  }

  .nav-mobile-close img{
    width: 16px;
    position: absolute;
    top: 16px;
    right: 18px;
    cursor: pointer;
  }
  /* End responsive Navbar */

  .recruitment-box-item {
    display: block;
  }
}

@media (max-width: 392px) {
  .our-partner.box .box-title .box-title-sub:after {
    width: 80%;
    left: 100%;
  }
}

@keyframes fadeInDown {
  0% {
     opacity: 0;
     transform: translateY(-20px);
  }
  100% {
     opacity: 1;
     transform: translateY(0);
  }
}