@font-face {
  font-family: "utm-aptima";
  src: url(../fonts/UTM\ Aptima.ttf),
  url(../fonts/UTM\ AptimaBold.ttf),
  url(../fonts/UTM\ AptimaBoldItalic.ttf),
  url(../fonts/UTM\ AptimaItalic.ttf);
}

*{
  outline: none !important;
}

html, body {
  font-family: sans-serif;
  font-size: 62.5%;
  overflow-x:hidden;
}

/* Start css header
=========================================== */

.header {
  height: 75px;
  line-height: 75px;
  margin: auto;
  top: 100;
}

@keyframes fadeInDown {
  0% {
     opacity: 0;
     transform: translateY(-20px);
  }
  100% {
     opacity: 1;
     transform: translateY(0);
  }
}

.main-nav-area.sticky {
 position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9950;
    background: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0 8px 6px -6px rgb(0 0 0 / 10%);
    box-shadow: 0 8px 6px -6px rgb(0 0 0 / 10%);
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 2000ms;
    animation-duration: 2000ms;
    -webkit-animation-timing-function: cubic-bezier(0.2, 1, 0.22, 1);
    animation-timing-function: cubic-bezier(0.2, 1, 0.22, 1);
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    -webkit-animation-fill-mode: none;
    animation-fill-mode: none;
    -webkit-animation-play-state: running;
    animation-play-state: running;
}

#main_nav {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.header .navbar-logo {
  position: absolute;
  z-index: 999;
  max-width: 275px;
  max-height: 266px;
}

.main-nav-area.sticky .navbar-logo{
  position: fixed;
}

.header .navbar-logo .logo {
  width: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.header .navbar-menu {
  display: flex;
  align-items: center;
}

.header .navbar-nav-pc .nav-link{
  font-size: 1.4rem;
  color: #231f20;
  text-transform: uppercase;
  margin: 0 0.5rem;
  background-color: transparent !important;
}

.header .navbar-nav-pc .nav-link:hover {
  color: #6C994E;
}

.header .navbar-nav-pc .nav-link::after{
  content: '';
  height: 1px;
  background: #181818;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -2px;
  width: 0px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header .navbar-nav-pc .nav-link:hover:after {
  width: 70%;
}

.navbar-menu .navbar-nav-pc .dropdown-menu {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  border:none;
  border-radius: 4px !important;
  padding: 0;
  position: absolute;
  top: calc(100% + 24px);
  left: auto;
}

.navbar-menu .navbar-nav-pc .dropdown-menu .nav-item .nav-link {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  margin: 0 1rem;
  text-transform: none;
}

.navbar-menu .navbar-nav-pc .dropdown-menu .nav-item:last-child .nav-link {
  border:none;
}

.navbar-menu .navbar-nav-pc .dropdown.nav-item {
  position: relative;
  display: flex;
  justify-content: center;
}

.navbar-menu .navbar-nav-pc .dropdown-menu::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 55%;
  box-sizing: border-box;

  border: 4px solid black;
  border-color: transparent transparent #fff #fff;

  transform-origin: 0 0;
  transform: rotate(135deg);

  box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.1);
}

.navbar-language .btn-default {
  background-color:#fff;
  width: 30px;
  height: 30px;
  box-shadow: none !important;
}

.navbar-language .open>.dropdown-toggle.btn-default:focus,
.navbar-language .open>.dropdown-toggle.btn-default:hover {
  background-color: #F2F2F2;
  border-color: #ccc;
}

.navbar-language .open>.dropdown-toggle.language-btn:focus,
.navbar-language .open>.dropdown-toggle.language-btn:hover {
  background-color: #F2F2F2;
  border-color: #ccc;
}

.navbar-language .language-btn {
  background: #fff !important;
}

.navbar-language .language-btn {
  padding: 0;
}

.navbar-language .icon-vietnamese-language {
  width: 50%;
  object-fit: cover;
}

.navbar-language .caret {
  color: #999;
}

.navbar-language .dropdown-menu {
  padding: 0;
  right: 0;
  left: unset;
  border: 0;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.navbar-language .dropdown-menu li {
  padding: 5px 0;
}

.navbar-language .dropdown-menu li:hover {
  background-color: #f5f5f5;
}

.navbar-language .dropdown-menu img {
  width: 15px;
  margin-right: 10px;
}


/* End css header
=========================================== */

/* Start css slider
=========================================== */

.slider-home .carousel-inner img{
  width: 100%;
  cursor: pointer;
}

/* End css slider
=========================================== */

/* Start css Product and Service */
.product-service {
  margin-top: 27px;
}

.box-title {
  text-transform: uppercase;
  font-family: "utm-aptima";
  margin-bottom: 50px;
}

.box .box-title .box-title-sub {
  position: relative;
}

.box .box-title .box-title-sub:after {
    position: absolute;
    content: '';
    width: 40%;
    height: 0;
    border-bottom: 2px solid #231f20;
    bottom: -5px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.product-service .box-content {
  display: flex;
  justify-content: space-between;
}

.product-service .box-item {
  position: relative;
  border-radius: 70px;
  content-visibility: auto;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.product-service .box-item img{
  width: 340px;
}

.product-service .box-item .btn-box {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 18px 50px;
  background-color: transparent;
  border: 2px solid #fff;
  font-size: 1.8rem;
  color: #fff;
  text-transform: uppercase;
  border-radius: 2px;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.product-service .box-item .btn-box:hover {
  background: #ffffff;
  color: #000000;
}

/* End css Product and Service
=========================================== */

/* Start css About Us
=========================================== */
.about-us-home {
  margin-top: 30px;
}

.about-us-home .about-us-description {
  font-family: "utm-aptima";
  font-size: 1.5rem;
}


.about-us-home .about-us-image img{
  width: 100%;
}

.about-main-content.box .box-title-sub::after{
  left:0;
  width: 80%;
  transform: translateX(0%);
  border-color: #fff;
}

.about-content-top,
.about-content-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-content-bottom {
  margin-bottom: 50px;
}

.about-content-top-right,
.about-content-bottom-left {
  background: #6c994e;
  color: #fff;
  padding: 20px 50px;
  min-height: 400px;

  width: 60%;
}

.about-content-top-right{
  margin-left: -50px;
}

.about-content-bottom-left {
  position: relative;
  z-index: 999999;
  margin-right: -50px;
}

.about-content-top-right .box-title {
  margin: 0 0 30px 0;
}

.about-content-desc p{
  font-size: 1.6rem;
  font-family: "utm-aptima";
  text-align: justify;
}

.about-main-content {
  margin-top: 50px;
}

.about-content-top-left {
  width: 40%;
  height: 500px;
  background: url(../img/banner-about-1.jpg) no-repeat center / cover;
}

.about-content-bottom-right {
  width: 40%;
  height: 500px;
  background: url(../img/banner-about-2.jpg) no-repeat center / cover;
}
/* End css About Us
=========================================== */

/* Start css Infrastructure
=========================================== */
.infrastructure {
  margin-top: 130px;
  margin-bottom: 100px;
  background-color: #6c994e;
  color: #fff;
  padding-bottom: 30px;
}

.infrastructure.box .box-title .box-title-sub {
  font-size: 3.5rem;
}

.infrastructure.box .box-title .box-title-sub:after{
  width: 60%;
  border-color: #465f31;
  left: 0;
  bottom: -15px;
  transform: translateX(0%);
}

.infrastructure-desc {
  font-family: "utm-aptima";
  font-size: 1.6rem;
  text-align: justify;
  letter-spacing: 1px;
}

.infrastructure-described {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.infrastructure-described svg {
  fill: #465f31;
  cursor: pointer;
}

.infrastructure-mouse {
  margin: auto;
  width: 30px;
  height: 47px;
  border: 2px solid #465f31;
  color: #324622;
  border-radius: 60px;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 7px;
}

.infrastructure-slider-wrapper {
  position: relative;
}

.infrastructure-slider {
  display: flex;
  position: absolute;
  top: -60px;
}

.infrastructure-carousel-item {
  width: 400px;
  height: 500px;
}

.infrastructure-carousel-item:nth-child(n+4):nth-last-child(3):not(:nth-child(5)):not(:nth-child(6)) {
  display: none;
 }
.infrastructure-carousel-item:nth-child(n+4):nth-last-child(-n+2):not(:nth-child(6)) {
  display: none;
 }
 .infrastructure-carousel-item:nth-child(n+4):nth-last-child(-n+1) {
  display: none;
 }
 .infrastructure-carousel-item:nth-child(n+7) {
  display: none;
 }


.infrastructure-carousel-item img {
  border: 13px solid #f3f0ed;
  width: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

/* End css Infrastructure
=========================================== */


/* Start css Our Partner
=========================================== */
.our-partner {
  margin-top: 50px;
}

.brand-item img{
  width: 100px;
}

/* End css Our Partner
=========================================== */


/* Start css Certificate
=========================================== */
.certificate.box-shadow {
  margin-top: 80px;
  padding-top: 20px;
  padding-bottom: 50px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.certificate-img img {
  max-width: 100%;
}

.certificate.mb-7 {
  margin-bottom: 70px;
}
/* End css Certificate
=========================================== */

/* Start css Featured News
=========================================== */
.featured-news {
  margin-top: 30px;
  margin-bottom: 50px;
}

.featured-news.box .box-title .box-title-sub:after{
  width: 90%;
}

.featured-news-list {
  margin-bottom: 30px;
}

.featured-news-img {
  overflow: hidden;
}

.featured-news-img-link img{
  max-width: 100%;
  margin-bottom: 20px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.featured-news-img-link:hover img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.featured-news-title-link {
  font-size: 1.4rem;
  color: #231f20;
}

.featured-news-title-link:hover {
  text-decoration: none;
  color: #6c994e;
}

.featured-news-date {
  margin-top: 15px;
  font-size: 1.2rem;
  color: #5e6060
}

.featured-news-collection-more {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #231f20;
  margin-top: 50px;
}

.featured-news-collection-more:hover{
  text-decoration: none;
  color: #6c994e;
}

.featured-news-collection-more:hover svg {
  fill: #6c994e;
}
/* End css Feature News
=========================================== */


/* Start css Footer
=========================================== */

footer {
  font-family: "utm-aptima";
  height: 520px;
  height: fit-content;
  padding: 40px 50px;
  background-color: #6C994E;
}

.footer-wrapper {
  max-width: 1600px;
  width: 100%;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-logo img{
  width: 200px;
}

.footer-wrapper .infor-website {
  font-size: 1.4rem;
  font-weight: normal;
  color: #fff;
}

.footer-left {
  padding: 0;
}

.footer-right-first {
  padding-bottom: 20px;
  border-bottom: 1px solid #fff;
  font-size: 1.4rem;
}

.footer-right-first>div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer-right-first .certification {
  margin-right: 35px;
}

.footer-right-first .certification img{
  width: 200px;
}
.form-subscribe-news {
  display: flex;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.footer-right-first .input-subscribe-news {
  border: none;
  width: 370px;
  max-width:100%;
  padding: 7px 15px;
}

.footer-right-last {
  display: flex;
  flex-wrap: wrap;
}

.btn-subscribe-news {
  font-size: 1.3rem;
  border: none;
  padding: 8px 15px;
  background-color:#405a29;
  color: #fff;
  text-transform: uppercase;
}

.footer-menu {
  padding: 0;
}

.footer-title {
  color: #fff;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 65px;
}

.footer-nav-link {
  color: #fff;
  font-size: 1.4rem;
  line-height: 25px;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

.footer-nav-link:hover {
  text-decoration: none;
  color: #405929;
}

.footer-social {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.social-icon {
  font-size: 2rem;
  width: 50px;
  height: 50px;
  background-color:#fff;
  margin: 0 5px;
}

.social-icons ul {
  display: flex;
}

.social-icons ul li {
  display: inline-block;
  margin: 10px 10px 0 0;
  position: relative;
  width: 40px;
  height: 40px;
  background: #ebebeb;
  border-radius: 50%;
}


.social-icons ul li:hover {
  background:#405929;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

.social-icons ul li:hover a {
  color: #fff;
}

.social-icons ul li a {
  color: #767576;
  display: block;
  padding: 0 6px;
  line-height: 0;
  text-align: center;
  line-height: 40px;
  font-size: 15px;
}

/* End css Footer
=========================================== */


/* start css About Us Page
=========================================== */
.infrastructure-about-page {
  margin-bottom: 20px;
}

.infrastructure-about-page .owl-theme .owl-nav {
  display: none;
}

.infrastructure-about-page .owl-dots {
  margin-top: 40px;
}

.news-about-page {
  margin-bottom: 30px;
}

.news-about-list .news-about-item {
  padding: 10px;
  height: 480px;
  font-family: "utm-aptima";
}

.news-about-list .news-about-item > div {
  height: 100%;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  padding: 25px 17px;
}

.news-about-title {
  font-size: 3rem;
  text-align: center;
  margin: 10px 0 20px;
}

.news-about-desc {
  font-size: 1.6rem;
  text-align: justify;
}

.news-about-list .news-about-item img {
  width: 100%;
}

/* End css About Us Page
=========================================== */


/* Start css Product Detail Page
=========================================== */
.breadcrumb-page {
  margin-top: 40px;
}

.breadcrumb-page a{
  color: #231f20;
  font-size: 1.8rem;
}

.breadcrumb-page a:hover {
  color: #6c994e;
  text-decoration: none;
}

.breadcrumb-page span {
  font-size: 1.6rem;
  margin: 0 5px;
}

.product-detail-page {
  font-family: "utm-aptima";
}

.product-detail-content {
  margin-bottom: 70px;
}

.product-detail-title {
  border-bottom: 1px solid #bfbbbb;
  padding-bottom: 15px;
}

.product-detail-desc-short {
  margin-bottom: 20px;
}

.product-detail-img {
  margin-top: 20px;
}

.product-detail-desc-short,
.product-detail-desc {
  font-size: 1.5rem;
  text-align: justify;
}

.product-detail-right {
  margin-top: 30px;
}

.product-detail-right-box {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  padding: 20px 25px 100px 25px;
  position: relative;
}

.product-detail-right-title {
  margin: 0 0 30px 0;
  text-transform: uppercase;
}

.product-detail-right-item {
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.product-detail-right-item select {
  width: 185px;
}

.product-detail-right-item select,
.product-detail-right-item input   {
  padding: 10px 5px;
}

.product-detail-right-box .btn-submit {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  background: #b3b3b3;
  border: none;
  padding: 15px 0;
  color: #fff;
  font-size: 2rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1) inset,
  0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}

.product-detail-right-box .btn-submit:hover {
  background: #999;
}

.download-product-spec{
  margin-top: 5px;
}

.download-product-spec a{
  display: block;
  width: 100%;
  background: #6c994e;
  font-size: 2.2rem;
  text-transform: uppercase;
  padding: 14px 0;
  text-align: center;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.download-product-spec a:hover {
  background-color: #405a29;
}

/* End css Product Detail Page
=========================================== */


/* Start css Product Page
=========================================== */
.product-page {
  font-family: "utm-aptima";
  margin-bottom: 70px;
}

.product-list {
  margin-top: 50px;
}

.product-title-page {
  font-size: 2rem;
  text-transform: uppercase;
}

.product-title {
  font-size: 2.4rem;
  padding-bottom: 10px;
  border-bottom: 1px solid #c9c6c5;
}

.product-item img {
  width: 230px;
}

.product-title-sub {
  font-size: 2.2rem;
  line-height: 19px;
  margin-bottom: 20px;
}

.product-desc {
  font-size: 1.6rem;
  text-align: justify;
}

.media-body {
  padding-bottom: 7px;
}

.product-more {
  font-size: 1.5rem;
  background: #6c994e;
  padding: 0 10px 5px 10px;
  border-radius: 30px;
  color: #fff !important;
  text-decoration: none !important;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}

.product-more svg {
  position: relative;
  top: 2px;
  fill: #fff;
}

.product-more:hover {
  background: #5b8042;
}

.product-nav-title {
  text-transform: uppercase;
  border-bottom: 2px solid #938d8d;
  padding-bottom: 7px;
  font-size: 2rem;
}

.product-nav-list {
  list-style: none;
  font-size: 1.6rem;
  padding-left: 20px;
}

.product-nav-item {
  line-height: 30px;
}

.product-nav-link {
  color: #000;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}

.product-nav-link:hover {
  color: #5b8042;
  text-decoration: none;
}

.product-nav {
  margin-bottom: 30px;
}
/* End css Product Page
=========================================== */


/* Start css Blog Detail Page
=========================================== */
.blog-detail-page {
  font-family: "utm-aptima";
  margin-top: 40px;
  margin-bottom: 70px;
}


.blog-detail-title {
  font-size: 2.5rem;
  line-height: 35px;
}

.blog-detail-date {
  font-size: 1.5rem;
  color: #4b4848;
  font-weight: bold;
  margin-bottom: 30px;
}

.blog-detail-img {
  text-align: center;
  margin-bottom: 30px;
}

.blog-detail-img img {
  width: 100%;
  max-width: 480px;
}

.blog-detail-content {
  font-size: 1.5rem;
}
/* End css Blog Detail Page
=========================================== */

/* Start css Blog Page
=========================================== */
.blog-page {
  font-family: "utm-aptima";
}

.blog-page-title {
  font-size: 6rem;
  color: #4b4848;
}


.blog-page-date {
  font-size: 3.2rem;
  line-height: 80px;
  color: #4b4848;
}

.blog-page-item a{
  text-decoration: none !important;
}

.blog-page-description {
  font-size: 2rem;
  text-align: justify;
  color: #4b4848;
}

.container-fluid.blog-page-item {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  padding-top: 20px;
  padding-bottom: 50px;
}

.container-fluid.blog-page-item:hover {
  background-color: #cedbbd;
}

.blog-page-pagination {
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 70px;
}

.blog-page-pagination ul {
  list-style: none;
  display: flex;
  padding: 0;
}

.blog-page-pagination ul li{
  width: 40px;
  height: 40px;
  border-radius: 100%;
  text-align: center;
}

.blog-page-pagination ul li+li {
  margin-left: 20px;
}

.blog-page-pagination ul li a{
  display: block;
  padding: 4px 0 0 0;
}

.blog-page-pagination .action{
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  background: #f0efef;
}

.blog-page-pagination .action:hover{
  background: #c4c3c3;
}

.blog-page-pagination .action a{
  color: #000;
  text-decoration: none !important;
}

.blog-page-pagination .page-x {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  background: #5b8042;
}

.blog-page-pagination .page-x:hover {
  background: #405a29;
}

.blog-page-pagination .page-x a {
  color: #fff;
  height: 100%;
}

.blog-page-pagination .page-x a{
  text-decoration: none !important;
}
/* End css Blog Page
=========================================== */

/* Start css Thankyou Page
=========================================== */
.thank-you-page {
  font-family: "utm-aptima";
  font-size: 1.4rem;
  margin-top: 70px;
  margin-bottom: 70px;
}

.thank-you-page p {
  font-size: 3rem;
}

.thank-you-page a {
  margin-top: 20px;
  display: inline-block;
  font-size: 1.5rem;
  background: #6c994e;
  padding: 0 10px 5px 10px;
  border-radius: 30px;
  color: #fff !important;
  text-decoration: none !important;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.thank-you-page a:hover {
  background: #405a29;
}
/* End css Thankyou Page
=========================================== */

.not-found-page {
  padding: 0;
}

/* Start css Contact Page
=========================================== */
.contact-page {
  margin-top: 20px;
  font-family: "utm-aptima";
  font-size: 1.4rem;
  margin-bottom: 70px;
}

.title-contact-page {
  font-size: 3rem;
  border-bottom: 1.7px solid #938d8d;
  padding-bottom: 10px;
}

.form-contact{
  margin-bottom: 50px;
}

.form-item {
  margin: 10px 0;
}

.form-item label {
  display: block;
  font-size: 1.8rem;
  font-weight: normal;
}

.form-item input {
  width: 95%;
  border-radius: 30px;
  border: 1px solid #8f8f8f;
  padding: 4px 15px;
}

.form-item-content input{
  width: 95%;
  border-radius: 60px;
  height: 85px;
}

.form-confirm-code {
  width: 300px;
  display: flex;
  margin: 20px 0;
}

.form-confirm-code .code {
  border: 1px solid #938d8d;
  font-weight: bold;
  width: 150px;
  position: relative;
  margin: 0 10px;
}

.form-confirm-code .code span{
  position: absolute;
  font-size: 2.2rem;
  left: 10%;
  top: -4px;
}

.form-confirm-code .load-code {
  border: 1px solid #938d8d;
  width: 60px;
  text-align: center;
  font-weight: bold;
  font-size: 1.9rem;
  padding-bottom: 5px;
}

.form-confirm-code .load-code:hover {
  background: #ccc;
}

.contact-submit {
  border: none;
  background-color: #5b8042;
  color: #fff;
  border-radius: 20px;
  padding: 5px 25px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}

.contact-submit:hover{
  background-color: #405a29;
}

.contact-nav-title {
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 20px;
}
/* End css Contact Page
=========================================== */

/* Start css Recruitment Page
=========================================== */
.recruitment-page {
  font-family: "utm-aptima";
  margin-bottom: 50px;
}

.recruitment-box-item::after {
  position: absolute;
  content: '';
  width: 5px;
  background: #3b5729;
  right: 10px;
  top: 10px;
  bottom: 10px;
}

.recruitment-box-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  background: #f3f0ed;
  padding: 10px;
  margin-bottom: 10px;
}

.recruitment-title {
  text-transform: uppercase;
  margin: 0 0 10px 0;
}

.recruitment-count {
  font-size: 1.8rem;
}

.recruitment-time {
  font-size: 1.6rem;
}

.recruitment-box-right {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.recruitment-city {
  font-size: 2rem;
  text-transform: uppercase;
}

.recruitment-box-right div + div {
  margin-left: 90px;
}

.recruitment-btn button{
  text-transform: uppercase;
  border: none;
  background-color: #5b8042;
  color: #fff;
  border-radius: 20px;
  padding: 5px 20px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}

.recruitment-btn button:hover {
  background-color: #405a29;
  color: #fff;
}
/* End css Recruitment Page
=========================================== */


/* Start css Recruitment Detail Page
=========================================== */
.recruitment-detail-page {
  position: relative;
  font-family: "utm-aptima";
}

.layout-background-right {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  background: #f3f0ed;
}

.recruitment-detail-left {
  margin-top: 40px;
  margin-bottom: 70px;
}

.recruitment-detail-title {
  font-size: 2.8rem;
}

.recruitment-detail-content-item {
  margin-top: 20px;
}

.recruitment-detail-content-title {
  font-size: 2rem;
}

.recruitment-detail-content-desc {
  font-size: 1.5rem;
  text-align: justify;
}

.recruitment-detail-right {
  margin-top: 50px;
  font-size: 1.4rem;
}

.share-social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.share-social .social-icons ul li{
  border: 1px solid #ccc;
  background: #fff;
  width: 30px;
  height: 30px;
}

.share-social .social-icons ul li:hover {
  background: #405929;
}

.share-social .social-icons ul li a {
  line-height: 26px;
}

.share-social-title {
  margin-right: 10px;
  font-size: 1.6rem;
}

.form-recruitment-detail-btn{
  background: #405a29;
  color: #fff;
  padding: 4px 15px;
  font-size: 1.8rem;
  text-transform: uppercase;
  border: none;
  border-radius: 30px;
  font-weight: normal;
  margin-bottom: 40px;
}

.submit-wrapper {
  text-align: center;
  margin-top: 10px;
}

.form-recruitment-wrapper {
  padding-left: 10px;
}

.form-recruitment-detail-item.border-top{
  border-top: 1px solid #ccc;
}

.form-recruitment-detail-item {
  border-bottom: 1px solid #ccc;
  padding-left: 20px;
}

.form-recruitment-detail-item .content-big {
  font-weight: bold;
}

.form-recruitment-detail-item .content-small {
  color: #848484;
  font-size: 1.5rem;
}

.title-small {
  font-weight: normal;
  color: #848484;
  margin-top: 5px;
  font-size: 1.5rem;
}

.title-big {
  text-transform: uppercase;
  font-weight: 2rem;
}

.form-title-2 {
  text-transform: uppercase;
  margin: 20px 0 20px 20px;
}

.form-title-2::after {
  content: "";
  width: 170px;
  height: 1px;
  background:#bcbcbc;
  display: block;
  margin-top: 10px;
}

.h-mb-1 {
  margin-bottom: 10px;
}

.btn-recruitment-news {
  margin-top: 30px;
  background: #405a29;
  color: #fff;
  border-radius: 20px;
  width: 100%;
  text-transform: uppercase;
  border: none;
  padding: 3px 0;
}

/* End css Recruitment Detail Page
=========================================== */
